template(name="new")
   .new
      h2 Add a New Post
      h3(class="title editable", contenteditable="true") Title of Your Post
      h4(class="subtitle editable", contenteditable="true") Clever Subtitle to Draw in Readers
      p(class="content editable", contenteditable="true").
         Tell your story...
      input(class="save", type="submit", value="Save Draft")
      input(class="publish", type="submit", value="Submit Post!")
