head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Constellation, a simple blogging platform
    link(href='/img/favicon.ico', rel='icon', type='image/x-icon')

body
    +layout
